Q1. Write a program to calculate the electricity bill
using only if statement? (accept number of unit from user)
according to the following criteria:

Unit                  Price
First 100 units      no charge
Next 100 units       Rs 5 per unit
After 200 units      Rs 10 per unit
(For example, if input unit is 350 than total bill amount is Rs2000). Lets explain...
For first 100 no charges
Now you have 250 unit remaining
100-200 you need to pay – 100*5 = 500
Now 200-100 you need to pay 150*10 = 1500
Total = 500+1500 = 2000

In [1]:
units = int(input("Enter number of units consumed:"))

bill = 0

if units > 200:
    bill += (units - 200) * 10
    units = 200
    
if units > 100:
    bill += (units - 100) * 5
    units = 100
    
if units <= 100:
    bill += 0

print("Total Electricity Bill: Rs",bill)

Enter number of units consumed: 450

Total Electricity Bill: Rs 3000

Q2. Write a program to accept percentage from the user and display
the grade according to the following criteria:

Marks              Grade
> 90                 A
> 80 and <= 90       B
>= 60 and <= 80      C
below 60             D

In [2]:
percentage = float(input("Enter your percentage: "))

if percentage > 90:
    print("Grade: A")
    
if percentage > 80 and percentage <= 90:
    print("Grade: B")
    
if percentage >= 60 and percentage <=80:
    print("Grade: C")
    
if percentage < 60:
    print("Grade:D")

Enter your percentage:  65

Grade: C

Q3. Accept the age of 4 people and display the youngest one?

In [3]:
age1 = int(input("Enter age of person 1: "))
age2 = int(input("Enter age of person 2: "))
age3 = int(input("Enter age of person 3: "))
age4 = int(input("Enter age of person 4: "))

youngest = age1

if age2 < youngest:
    youngest = age2

if age3 < youngest:
    youngest = age3

if age4 < youngest:
    youngest = age4

print("The youngest age is: ",youngest)

Enter age of person 1:  45
Enter age of person 2:  24
Enter age of person 3:  43
Enter age of person 4:  15

The youngest age is:  15

In [ ]:
Q4. A company decided to give bonus to employee
according to following criteria:

Time period of Service Bonus

More than 10 years 10%

>=6 and <=10 8%

Less than 6 years 5%

Ask user for their salary and years of service and print the
net bonus amount?

In [4]:
salary = float(input("Enter your salary:"))
years = float(input("Enter your years of service:"))

bonus = 0

if years > 10:
    bonus = salary * 0.10

if years >= 6 and years <= 10:
    bonus = salary * 0.08

if years < 6:
    bonus = salary * 0.05

print("Your bonus amount is: Rs",bonus)

Enter your salary: 5489974
Enter your years of service: 2

Your bonus amount is: Rs 274498.7

Q5. Accept three numbers from the user and display the second largest number?

In [5]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if(a > b and a < c) or (a > c and a < b):
    second_largest = a 

if (b > a and b < c) or (b > c and b < a):
    second_largest = b

if (c > a and c < b) or (c > b and c < a):  
    second_largest = c

if a == b or b == c or a == c:
    if a == b and b == c:
        print("All numbers are equal.")
    else: 
        print("Cannot determine second largest uniquely due to equal values.")
else:
    print("The second largest number is:",second_largest)

Enter first number:  56
Enter second number:  85
Enter third number:  45

The second largest number is: 56

Q6. Accept the marked price from the user and calculate
the Net amount as (Marked Price – Discount) to pay
according to following criteria:

Marked Price          Discount
>10000                  20%
>7000 and <=10000       15%
<=7000                  10%

In [8]:
marked_price = float(input("Enter the marked price:"))

discount = 0

if marked_price > 10000:
    discount = marked_price * 0.20

if marked_price > 7000 and marked_price <= 10000:
    discount = marked_price * 0.15

if marked_price <= 7000:
    discount = marked_price * 0.10

net_amount = marked_price - discount

print("Discount: Rs", discount)
print("Net Amount to pay: Rs",net_amount)

Enter the marked price: 4555

Discount: Rs 455.5
Net Amount to pay: Rs 4099.5

Q7. Accept the marks of English, Math and Science,
Social Studies Subject and display the stream allotted
according to following:

All Subjects more than 80 marks — Science Stream

English >80 and Math, Science above 50 — Commerce Stream

English > 80 and social studies > 80 — Humanities

In [1]:
english = int(input("Enter marks in English: "))
math = int(input("Enter marks in Math: "))
science = int(input("Enter marks in Science: "))
social_studies = int(input("Enter marks in Social Studies: "))

if english > 80 and math > 80 and science > 80 and social_studies > 80:
    print("Stream Allotted: Science Stream")
    
elif english > 80 and math > 50 and science > 50:
    print("Stream Allotted: Commerce Stream")
    
elif english > 80 and social_studies > 80:
    print("Stream Allotted: Humanities")
    
else:
    print("No specific stream allotted")

Enter marks in English:  58
Enter marks in Math:  45
Enter marks in Science:  78
Enter marks in Social Studies:  96

No specific stream allotted

Q8. Write a program to display "Hello" if a number entered
by user is a multiple of five, otherwise print "Bye"?

In [3]:
num = int(input("Enter a number:"))

if num % 5 == 0:
    print("Hello")
else:
    print("Bye")

Enter a number: 8

Bye

Q9. Write a program to check whether the last digit of a number (entered by user) is divisible by 3 or not?

In [5]:
num = int(input("Enter a number: "))

last_digit = num % 10

if last_digit % 3 == 0:
    print("The last digit is divisible by 3.")

else:
    print("The last digit is not divisible by 3.")

Enter a number:  90

The last digit is divisible by 3.

Q10. Write a program to check whether a number entered
is three-digit number or not?

In [7]:
num = int(input("Enter a number: "))

if num >= 100 and num <= 999:
    print("It is a three-digit number.")

elif num <= -100 and num >= -999:
    print("It is a three-digit number.")

else:
    print("It is not a three-digit number.")

Enter a number:  -888

It is a three-digit number.