In [50]:
my_string = "python"

In [ ]:
#1. str.capitalize()
#Capitalizes the first character.

In [9]:
my_string = "python"
print(my_string.capitalize())

Python

In [ ]:
#2. str.casefold
#Converts to lowercase (more aggressive than lower()).

In [56]:
my_string1 = "der Fluß"
my_string2 = "der Fluss"
print(my_string1.casefold())

der fluss

In [59]:
print(my_string1.lower())

der fluß

In [ ]:
#3. str.center(width[, fillchar])
#Centers the string within the specified width.

In [16]:
my_string = "python"
print(my_string.center(10,"*"))

**python**

In [ ]:
#4. str.count(sub[, start[, end]])
#Returns the number of non-overlapping occurrences of a substring.

In [26]:
my_string = "python pppppy"
print(my_string.count("p"))
print(my_string.count("p",10,len(my_string)))

6
2

In [ ]:
#5. str.encode(encoding="utf-8", errors="strict")
#Returns encoded version of the string.

In [94]:
my_string = "Héllo"  

encoded_string = my_string.encode("utf-8")
print(encoded_string)

b'H\xc3\xa9llo'

In [ ]:
#6.str.endswith(suffix[, start[, end]])
#Returns True if the string ends with the specified suffix.

In [1]:
my_string =  "python"
print(my_string.endswith("n"))

True

In [ ]:
#7. str.expandtabs(tabsize=8)
#Replaces tabs with spaces.

In [13]:
my_string = "vishu\tducat\tnoida"
print(my_string.expandtabs())

vishu   ducat   noida

In [9]:
#8.str.find(sub[, start[, end]])
#Returns the lowest index of the substring; returns -1 if not found.

In [10]:
my_string = "python"
print(my_string.find("python",6))

-1

In [ ]:
#9.str.format(*args, **kwargs)
#Formats string using the specified arguments.

In [14]:
my_string = "My name is {} and I am {} years old.".format("vishu", 20)
print(my_string.format())

My name is vishu and I am 20 years old.

In [ ]:
#10.str.format_map(mapping)
#Formats string using a mapping.

In [18]:
info = {"name": "vishu", "age": 20, "city": "Noida"}
my_string = "My name is {name}, I am {age} years old and I live in {city}.".format_map(info)
print(my_string.format_map(my_string))

My name is vishu, I am 20 years old and I live in Noida.

In [ ]:
#11. str.index(sub[, start[, end]])
#Like find() but raises ValueError if not found.

In [25]:
my_string = "hello python python"
index = my_string.index("python")  # will return 6 as first occurance at index 6
print(index)

6

In [ ]:
#12.str.isalnum()
#Returns True if all characters are alphanumeric.

In [33]:
my_string1 = "Python3"
my_string2 = "Python 3"
my_string3 = "7701"

print(my_string1.isalnum())
print(my_string2.isalnum())
print(my_string3.isalnum())

True
False
True

In [ ]:
#13.str.isalpha()
#Returns True if all characters are alphabetic.

In [42]:
my_string1 = "python"
my_string2 = "python123"
my_string3 = "1234"
print(my_string1.isalpha())
print(my_string2.isalpha())
print(my_string3.isalpha())

True
False
False

In [ ]:
#14.str.isascii()
#Returns True if all characters are ASCII.

In [40]:
my_string1 = "hello123"
my_string2 = "hello"
my_string3 = "你好"

print(my_string1.isascii())
print(my_string2.isascii())
print(my_string3.isascii())

True
True
False

In [ ]:
#15.str.isdecimal()
#Returns True if all characters are decimal characters.

In [35]:
my_string1 = "12345"
my_string2 = "12.345"
my_string3 = "hello"

print(my_string1.isdecimal())  
print(my_string2.isdecimal())  
print(my_string3.isdecimal())

True
False
False

In [ ]:
#16.str.isdigit()
#Returns True if all characters are digits.

In [44]:
my_string1 = "12345"     
my_string2 = "123.45"
my_string3 = "hello"

print(my_string1.isdigit())
print(my_string2.isdigit())
print(my_string3.isdigit())

True
False
False

In [ ]:
#17str.isidentifier()
#Returns True if string is a valid identifier.

In [45]:
my_string1 = "my_variable"
my_string2 = "2ndValue"
my_string3 = "class"
my_string4 = "validName"

print(my_string1.isidentifier())
print(my_string2.isidentifier())
print(my_string3.isidentifier())
print(my_string4.isidentifier())

True
False
True
True

In [ ]:
#18. str.islower()
#Returns True if all characters are lowercase.

In [46]:
my_string1 = "python"     
my_string2 = "Python"
my_string3 = "hello"

print(my_string1.islower())
print(my_string2.islower())
print(my_string3.islower())

True
False
True

In [ ]:
#19. str.isnumeric()
#Returns True if all characters are numeric.

In [95]:
my_string1 = "12345"
my_string2 = "12.345"
my_string3 = "½"      #uncode 
my_string4 = "١٢٣٤٥"  #Arabic digits

print(my_string1.isnumeric())  
print(my_string2.isnumeric())
print(my_string3.isnumeric())  
print(my_string4.isnumeric())

True
False
True
True

In [ ]:
#20. str.isprintable()
#Returns True if all characters are printable.

In [61]:
my_string1 = "Hello, world!"         # All printable characters
my_string2 = "Hello\nWorld"          # Contains newline (not printable)
my_string3 = "1234@#₹"               # All printable
my_string4 = " "                     # Space is printable

print(my_string1.isprintable())
print(my_string2.isprintable())
print(my_string3.isprintable())
print(my_string4.isprintable())

True
False
True
True

In [ ]:
#21. str.isspace()
#Returns True if all characters are whitespace.

In [62]:
my_string1 = "   "        # Only spaces
my_string2 = "\t\n"       # Tab and newline (also space-like)
my_string3 = "Hello"
my_string4 = "  Hello  "

print(my_string1.isspace())
print(my_string2.isspace())
print(my_string3.isspace())
print(my_string4.isspace())

True
True
False
False

In [ ]:
#22. str.istitle()
#Returns True if the string is titlecased.

In [63]:

my_string1 = "This Is A Title"
my_string2 = "This is a Title"
my_string3 = "THIS IS A TITLE"
my_string4 = "Python3 Rocks"

print(my_string1.istitle())
print(my_string2.istitle())
print(my_string3.istitle())
print(my_string4.istitle())

True
False
False
True

In [ ]:
#23. str.isupper() 
#Returns True if all characters are uppercase.

In [64]:
my_string1 = "PYTHON"
my_string2 = "Python"
my_string3 = "PYTHON3!"
my_string4 = "123!"

print(my_string1.isupper())
print(my_string2.isupper())
print(my_string3.isupper())
print(my_string4.isupper())

True
False
True
False

In [ ]:
#24. str.join(iterable)
#Joins elements of an iterable with the string as a separator.

In [65]:
words = ["Python", "is", "awesome"]


sentence = " ".join(words)


dashed = "-".join(words)


compact = "".join(words)

print("Joined with space:", sentence)
print("Joined with dash:", dashed)
print("Joined without space:", compact)

Joined with space: Python is awesome
Joined with dash: Python-is-awesome
Joined without space: Pythonisawesome

In [ ]:
#25. str.ljust(width[, fillchar])
#Left-justifies the string.

In [70]:
my_string = "Hello"

left1 = my_string.ljust(10)
left2 = my_string.ljust(10, '-')

print(repr(left1))
print(repr(left2))

'Hello     '
'Hello-----'

In [ ]:
#26. str.lower()
#Converts to lowercase.

In [69]:
my_string1 = "VISHU"
my_string2 = "Python Is FUN"

lower1 = my_string1.lower()
lower2 = my_string2.lower()

print("Lowercase 1:", lower1)
print("Lowercase 2:", lower2)

Lowercase 1: vishu
Lowercase 2: python is fun

In [ ]:
#27. str.lstrip([chars])
#Removes leading characters (default: whitespace).

In [71]:
my_string1 = "   Hello"
my_string2 = "---Python---"
my_string3 = "xyxxyHello"

# Remove leading whitespace
strip1 = my_string1.lstrip()

# Remove eading '-' characters
strip2 = my_string2.lstrip("-")

# Remove leading 'x' and 'y' characters
strip3 = my_string3.lstrip("xy")

print(repr(strip1))
print(repr(strip2))
print(repr(strip3))

'Hello'
'Python---'
'Hello'

In [ ]:
#28. str.maketrans(x, y=None, z=None)
#Returns a translation table

In [72]:

# Replace 'a' with '@', 'e' with '3', 'i' with '1'
trans_table = str.maketrans("aei", "@31")

text = "email is awesome"
translated = text.translate(trans_table)

print("Original text:", text)
print("Translated text:", translated)

Original text: email is awesome
Translated text: 3m@1l 1s @w3som3

In [ ]:
#29. str.partition(sep)
#Splits the string at the first occurrence of sep.

In [73]:
my_string1 = "Python is awesome"
my_string2 = "no-separator-here"

# Partition using a space
part1 = text1.partition(" ")

# Partition using a dash
part2 = text2.partition("-")

print("Partition result 1:", part1)
print("Partition result 2:", part2)

Partition result 1: ('Hello,', ' ', 'world!')
Partition result 2: ('Hello\nWorld', '', '')

In [ ]:
#30. str.removeprefix(prefix)
#Removes the specified prefix if present.

In [74]:
text1 = "unhappy"
text2 = "replay"
text3 = "misunderstand"

# Remove specific prefixes
result1 = text1.removeprefix("un")
result2 = text2.removeprefix("re")
result3 = text3.removeprefix("under")  # Not at start, won't remove

print("After removing 'un':", result1)
print("After removing 're':", result2)
print("Trying to remove 'under':", result3)

After removing 'un': happy
After removing 're': play
Trying to remove 'under': misunderstand

In [ ]:
#31. str.removesuffix(suffix)
#Removes the specified suffix if present.

In [76]:
my_string1 = "filename.txt"
my_string2 = "report_final.pdf"
my_string3 = "data_file_backup"

# Remove known suffixes
result1 = my_string1.removesuffix(".txt")
result2 = my_string2.removesuffix(".pdf")
result3 = my_string3.removesuffix("_final")  # Not at end, won't remove

print(result1)
print(result2)
print(result3)

filename
report_final
data_file_backup

In [ ]:
#32. str.replace(old, new[, count])
#Returns a copy with all occurrences of a substring replaced.

In [82]:
my_string = "Python is fun. Python is powerful. Python is everywhere."

# Replace all occurrences of "Python" with "Java"
result1 = my_string.replace("Python", "Java")

# Replace only the first 2 occurrences
result2 = my_string.replace("Python", "Java", 2)

print( result1)
print(result2)

Java is fun. Java is powerful. Java is everywhere.
Java is fun. Java is powerful. Python is everywhere.

In [ ]:
#33. str.rfind(sub[, start[, end]])
#Returns the highest index of the substring.

In [81]:
my_string = "Python is powerful and Python is popular"

# Find the last occurrence of "Python"
last_index = my_string.rfind("Python")

# Find "Python" between index 0 and 25
partial_index = my_string.rfind("Python", 0, 25)

print(last_index)
print(partial_index)

23
0

In [ ]:
#34. str.rindex(sub[, start[, end]])
#Like rfind() but raises ValueError if not found

In [83]:
my_string = "Python is popular and Python is powerful"

# Find the last occurrence of "Python"
last_index = my_string.rindex("Python")

# Find "Python" in a specific range (0 to 25)
partial_index = my_string.rindex("Python", 0, 25)

print(last_index)
print(partial_index)

22
0

In [ ]:
#35. str.rjust(width[, fillchar])
#Right-justifies the string.

In [86]:
my_string = "Python"

# Right-justify in a field of width 12 (default fill: space)
right1 = my_string.rjust(12)

# Right-justify using '-' as fill character
right2 = my_string.rjust(12, '-')

print(repr(right1))
print(repr(right2))

'      Python'
'------Python'

In [ ]:
#36. str.rsplit(sep=None, maxsplit=-1)
#Splits the string from the right.

In [88]:
my_string = "apple,banana,grape,orange"

# Split from the right using comma
split1 = my_string.rsplit(",", 2)  # split max 2 times from right

# Using default (no args), behaves like split()
split2 = "  one two   three  ".rsplit()

print(split1)
print(split2)

['apple,banana', 'grape', 'orange']
['one', 'two', 'three']

In [ ]:
#37.str.rstrip([chars])
#Removes trailing characters (default: whitespace).

In [89]:
my_string1 = "Hello World    "
my_string2 = "data.csv,,,,,"

# Remove trailing spaces
result1 = my_string1.rstrip()

# Remove trailing commas
result2 = my_string2.rstrip(',')

print(repr(result1))
print(repr(result2))

'Hello World'
'data.csv'

In [ ]:
#38. str.split(sep=None, maxsplit=-1)
#Splits the string.

In [91]:
my_string1 = "apple banana mango orange"
my_string2 = "apple-banana-mango-orange"

# Default split (whitespace)
split1 = my_string1.split()

# Split using '-' and max 2 splits
split2 = my_string2.split("-", 2)

print("Split by whitespace:", split1)
print("Split by '-' (max 2):", split2)

Split by whitespace: ['apple', 'banana', 'mango', 'orange']
Split by '-' (max 2): ['apple', 'banana', 'mango-orange']

In [ ]:
#39. str.splitlines([keepends])
#Splits at line breaks

In [92]:
my_string = "Hello\nWelcome to Python\nEnjoy coding!"

# Split lines without keeping newline characters
lines1 = my_string.splitlines()

# Split lines and keep the newline characters
lines2 = my_string.splitlines(keepends=True)

print(lines1)
print(lines2)

['Hello', 'Welcome to Python', 'Enjoy coding!']
['Hello\n', 'Welcome to Python\n', 'Enjoy coding!']

In [ ]:
#40. str.startswith(prefix[, start[, end]])
#Returns True if the string starts with the prefix.

In [93]:
my_string = "Python is powerful"

# Check if string starts with "Python"
result1 = my_string.startswith("Python")

# Check within a specific range (start=10, end=19)
result2 = my_string.startswith("power", 10, 19)

print(result1)
print(result2)

True
True