In [5]:
#1: Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [10]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
#2.Write a Python program to find the sum of all numbers from 1 to 100 using a for loop.

In [26]:
totel = 0
for i in range(1,101):
    totel += i
    print(1,100,totel)

1 100 1
1 100 3
1 100 6
1 100 10
1 100 15
1 100 21
1 100 28
1 100 36
1 100 45
1 100 55
1 100 66
1 100 78
1 100 91
1 100 105
1 100 120
1 100 136
1 100 153
1 100 171
1 100 190
1 100 210
1 100 231
1 100 253
1 100 276
1 100 300
1 100 325
1 100 351
1 100 378
1 100 406
1 100 435
1 100 465
1 100 496
1 100 528
1 100 561
1 100 595
1 100 630
1 100 666
1 100 703
1 100 741
1 100 780
1 100 820
1 100 861
1 100 903
1 100 946
1 100 990
1 100 1035
1 100 1081
1 100 1128
1 100 1176
1 100 1225
1 100 1275
1 100 1326
1 100 1378
1 100 1431
1 100 1485
1 100 1540
1 100 1596
1 100 1653
1 100 1711
1 100 1770
1 100 1830
1 100 1891
1 100 1953
1 100 2016
1 100 2080
1 100 2145
1 100 2211
1 100 2278
1 100 2346
1 100 2415
1 100 2485
1 100 2556
1 100 2628
1 100 2701
1 100 2775
1 100 2850
1 100 2926
1 100 3003
1 100 3081
1 100 3160
1 100 3240
1 100 3321
1 100 3403
1 100 3486
1 100 3570
1 100 3655
1 100 3741
1 100 3828
1 100 3916
1 100 4005
1 100 4095
1 100 4186
1 100 4278
1 100 4371
1 100 4465
1 100 4560
1 100 4656
1 100 4753
1 100 4851
1 100 4950
1 100 5050

In [29]:
#3.Write a Python program to print the multiplication table of a given number using a for loop.

In [2]:
number = int(input("enter number : "))
for i in range(1,11):
    print(f"{number} X {i} = {number*i}")

enter number :  10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [33]:
number = [1,2,3,4,5,6,7,8,9,10]
even_count = 0
odd_count = 0
for item in number:
    if item % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print(even_count)
print(odd_count)

5
5

In [ ]:
#5.Write a Python program to find the factorial of a number using a for loop.

In [1]:
number = int(input("Enter number: "))
factorial = 1

for item in range(1, number + 1):
    factorial *= item

print(f"{number} का factorial है: {factorial}")

Enter number:  5

5 का factorial है: 120

In [2]:
#6.Write a Python program to print the Fibonacci sequence up to a specified number using a for loop.

In [6]:
number = int(input("enter fibonacci sequence number: "))

a = 0
b = 1

print("Fibonacci sequence:")

for i in range(number):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

enter fibonacci sequence number:  10

Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34

In [7]:
#7.Write a Python program to check if a given number is prime or not using a for loop.

In [1]:
num = int(input("enter number : "))

if num <= 1:
    print("this is not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("this is not a prime number.")
            break
    else:
        print("this is a prime number")

enter number :  2

this is a prime number

In [8]:
#8.Write a Python program to find the largest element in a list using a for loop.

In [12]:
number = [10,15,50,75,65,60,99,80]
largest = number[0]
for i in number:
    if i > largest:
        largest = i

print(largest)

99

In [ ]:
#9.Write a Python program to reverse a given string using a for loop.

In [1]:
text = input("enter string : ")
reversed_text = ""

for char in text:
    reversed_text = char + reversed_text 

print(reversed_text)

enter string :  python

nohtyp

In [2]:
#10: Write a Python program to find the common elements between two lists using a for loop.
#List1 = [1,2,3]
#List2 = [4,5,1]

In [10]:
list1 = [1,2,3]
list2 = [4,5,1]
commen = []

for item in list1:
    if item in list2:
        commen.append(item)
        print(commen)

[1]